<!DOCTYPE html>
<html lang="en" class="">
<head>
<meta charset="utf-8" />
<title>无权限访问 | Web Application</title>
<meta name="description" content="app, web app, responsive, admin dashboard, admin, flat, flat ui, ui kit, off screen nav" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<link rel="stylesheet" href="${sysres}/css/app.v2.css" type="text/css" />
<link rel="stylesheet" href="${sysres}/css/font.css" type="text/css" cache="false" />
<!--[if lt IE 9]> <script src="${sysres}/js/ie/html5shiv.js" cache="false"></script> <script src="${sysres}/js/ie/respond.min.js" cache="false"></script> <script src="${sysres}/js/ie/excanvas.js" cache="false"></script> <![endif]-->
</head>
<body>
  <section id="content">
    <div class="row m-n">
      <div class="col-sm-4 col-sm-offset-4">
        <div class="text-center m-b-lg">
          <h1 class="h text-white animated fadeInDownBig">404</h1>
        </div>
        <div class="list-group m-b-sm bg-white m-b-lg">
          <a href="${cp}/index.html" class="list-group-item">
            <i class="fa fa-chevron-right icon-muted"></i>
            <i class="fa fa-fw fa-home icon-muted"></i>
            前往前台首页
          </a>
          <a href="${cp}/wxbackstage/signin" class="list-group-item">
            <i class="fa fa-chevron-right icon-muted"></i>
            <i class="fa fa-fw fa-question icon-muted"></i>
            返回后台登录页
          </a>
        </div>
      </div>
    </div>
  </section>
  <!-- footer -->
  <footer id="footer">
    <div class="text-center padder clearfix">
      <p>
        <small>版权信息<br> &copy; 2016
        </small>
      </p>
    </div>
  </footer>
  <!-- / footer -->
  <script src="${sysres}/js/app.v2.js"></script>
  <!-- Bootstrap -->
  <!-- App -->
</body>
</html>